<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blues Song</title>
</head>
<body>
    <p>Woke up this {{req.time}} and crawled out of my furniture.</p>
    <p>Well, my {{req.thing}} was gone, and I was left here with {{req.condition}}.</p>
    <p>I ain't had no good since {{req.event}}.</p>
    <p>No, I've only had {{req.bad}} ever since {{req.event}}.</p>
    <p>Think I'll go {{req.activity}} before my {{req.condition}} gets too much.</p>
</body>
</html>     