<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <div class="container">
      <h1>To-Do List</h1>
      <form method="post">
          <table>
              {{#each data as | info item |}}
                <tr>
                  <td><input id="{{item}}" name="{{item}}" {{info.done}} value="done" type="checkbox"></td>
                  <td>
                      <label for="{{item}}">{{info.message}}</label>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <input type="submit" id="submit" value="Save" formaction="save"/>
                    <input type="submit" id="remove" value="Remove Checked" formaction="remove"/>
                  </td>
                </tr>
              {{else}}
              <h2>No to-do items</h2>
              {{/each}}
          </table>
      </form>

<form method="post" action="add">
  Add new item:
  <input type="text" name="item" placeholder="Enter item description" style="width: 60ex" autofocus required/>
  <input type="submit" value="Add"/>
</form>